body {
  background-color: #FFF5DA;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #D6D2C4;
  height:30px;
  width: 5%;
}
h1,h2,h3,h4,h5,h6{
  color: #5D534A
}
